#about{

  position: relative;
}

#about .wrap{
    
}
#about .wrap h2{
  padding-top: 128px; 
  padding-bottom: 50px;
  color: orange;
}
#about .wrap>div{
  
  display: flex;
  margin: auto;
  width: 69%;
}
#about .wrap > div img{
  
  width: 100%;
  height:100%;
  border-radius: 10px;
  box-shadow: 0 0 18px #ccc;
}
#about .wrap > div p{
  margin-left: 45px;
  color: #926004;
  line-height: 51px;
  margin-top: 17px;
} 
