#contact{
    background: white;
    color: white;
    position: relative;
}
#contact .wrap{
    padding-top: 110px;
    box-sizing: border-box;
}


#contact .wrap h2{
    padding-top: 10px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: gray;
}
#contact .wrap .about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#contact .wrap .about .about_qoute{
    
    padding-bottom: 68px;
}
#contact .wrap .about .about_qoute p.bigger{

    font-size: 49px;
    line-height: 1.6;
    color: #a1a1a1;
}
#contact .wrap .about .about_qoute p{

    font-size: 26px;
    text-align: center;
    color: #b3b1b1;
}
#contact .wrap .about .img{

    display: flex;
}
#contact .wrap .about .img .img_left{

}
#contact .wrap .about .img .img_left figure{

    padding-bottom: 26px;
}
#contact .wrap .about .img .img_left figure img{
    width: 19vw;
    border-radius: 10px 0 0 10px;
}
.img img{ 
    width: 16vw;
    width:279px;
    margin-top: -26px;
}
#contact .wrap .about .img .img_right{

}
section#contact figure{   
    padding-bottom: 3vh;
     display: flex;
   justify-content: left;
  }
#contact .wrap .about .img .img_right figure{

}
#contact .wrap .about .img .img_right figure img{
    width: 14.8vw;
}
#contact .wrap .about .info{
    text-align: center;
    margin-top: -66px;
    padding-left: 77px;
}
#contact .wrap .about .info>div:first-child{
    color:black;
    line-height: 1.5;
     font-size: 17px;
    padding-bottom: 16px;
}
#contact .wrap .about .info p{
    color:black;
    line-height: 1.5;
    font-size: 1.2vw;
    align-items: center;
    display: flex;
    justify-content: center;
     font-size: 17px;
}
#contact .wrap .about .info p a{
    color: black;
}

.qrcode{
  border-radius: 0 10px 10px 0;
}