
body{
  font-family: 'SejonghospitalBold';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


.h1{
   font-size: 64px;
 }
 .h2{
   font-size: 54px;
 }
 .h3{
   font-size: 44px;
 }
 .h4{
   font-size: 34px;
 
 }
 .h5{
   font-size: 24px;
 }
 .h6{
   font-size: 20px;
 }
 .p{
   font-size: 14px;
   line-height: 1.6; 
 }
