footer{
  color: white;
  text-align: center;
  font-weight: 150;
  font-size: 12px;
  padding: 100px 0 40px 0;
  background: linear-gradient(#3883c9,#0a4e8e);
}
footer p{
  line-height: 1.6;
  font-size: 21px;
}