#portfolio1{
    background: linear-gradient(#7aafe0, #308bdd);
    position: relative;
    height: 120vh;
    min-height: 120vh;
}
#portfolio1 .wrap{

}
#portfolio1 .wrap::before{
content:"PORTFOLIO";
}
#portfolio1 .wrap h2{
    color:white;
    padding-top: 125px;
    padding-bottom:30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

#portfolio1 .wrap ul.pf{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}
#portfolio1 .wrap ul.pf li{
    position: relative;
    width: 25%;
}
#portfolio1 .wrap ul.pf li figure{
    padding: 16px;
}
#portfolio1 .wrap ul.pf li figure a{
    display: block;
    overflow: hidden;
}
#portfolio1 div ul li figure a img{
  
    transition: 1s;
    border-radius: 10px;
  }
  #portfolio1 .wrap figure img:hover{
    transform: scale(1.1); 
  }
#portfolio1 div ul li figure:hover a{ 
    display: block;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    
  }
  a.current{
    color:#3fffff !important; 
  }
  
#portfolio1 .wrap ul.pf li div{
    position: absolute;
      left: 0;
      top: 0;
      justify-content: center;
      width:100%;
      height:100%;
      flex-direction: column;
      text-align: center;
      color: white;
      background-color: rgba(0,0,0,0.7);
      display: none;
}
#portfolio1 ul.pf>li:hover>div{
    display: flex;
  
  }

#portfolio1 .wrap ul.pf li div h3{
    color: powderblue;
    padding: 18px 0 1px 0;
}
#portfolio1 .wrap ul.pf li div p{
    line-height: 1.8;
}
#portfolio1 .wrap ul.pf li div a{
    color: powderblue;
    margin-top: 10px;
}


/* portfolio2 */

#portfolio2{
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#338cdd,#4e85cc);
    position: relative;
}
#portfolio2 .wrap{
    padding-bottom: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
}
#portfolio2 .wrap::before{
    content: "Responsive";
  
  }
#portfolio2 .wrap h2{
    padding-top: 107px;
    color: white;
}

#portfolio2 .wrap ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
#portfolio2 .wrap ul li{
    position:relative;
    width: 25%;
}
#portfolio2 .wrap ul li figure{
    position: relative;
    padding: 16px;
}
#portfolio2 .wrap ul li figure a{
    display: block;
    overflow: hidden;
} 
#portfolio2 .wrap ul li figure a img{
    transition: 1s;
    border-radius: 15px;
}
#portfolio2 div ul li figure a img:hover{
    transform: scale(1.1);
  }
#portfolio2 .wrap ul li .detail{
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    color:white;

}
#portfolio2 ul li:hover .detail{
    display: flex; 
  }
#portfolio2 .wrap ul li .detail h3{
    position:relative;
    color: powderblue;
}
#portfolio2 .wrap ul li .detail p{
    line-height: 1.7;
}
#portfolio2 .wrap ul li .detail a{
    color: powderblue;
    padding-right: 16px;
    padding-top: 7px;
}