#hi{
  display: flex;
  overflow-x: hidden; 
  width: 1903px;
}
#portfolio2{
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#338cdd,#4e85cc);
  height: 100vh;
  min-height: 100vh;
}
#portfolio1 h2{
  color:white;
}
#portfolio2 h2{
  
  padding-top: 107px;
  color: white;
}
.hidden{
  display: none; 
}

#portfolio2 .wrap ul{
  
  width: 100%;
}

.portfolio .wrap ul li figure{
  
}
.portfolio .wrap ul li div{
  
  display: none;
}
.portfolio .wrap ul li figure a{
  display: block;
  overflow: hidden;
}
.portfolio .wrap ul li figure a img{
}
#portfolio1{
    background: linear-gradient(#7aafe0, #308bdd);
    /*! display: none; */
    padding-top: 110px;
}
#portfolio2 .wrap{

  padding-bottom: 191px;
}


.portfolio div{

  display: flex;
  justify-content: center;
}
.portfolio div ul{
  
}
.portfolio >.wrap >ul.portfolio_list{
  color: powderblue;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 61px;
  display:none;
}

.portfolio > .wrap > ul.portfolio_list li{
  /*! padding-bottom: 26px; */
}


.portfolio > .wrap > ul.portfolio_list li a{
  color: powderblue;
}
.pf{

}
.pf.display{
 /*! display: flex !important; */
width: fit-content;
}
a.current{
  color:#3fffff !important; 
}

.portfolio .wrap .detail h2{
  color: #c0dfff;
  padding-bottom: 14px;
  font-size: 30px;
  grid-column: 1 / span 2;
  text-align: left;
  text-transform: uppercase;
}

.portfolio .wrap .detail div a{
  color: #d5dcff;
  padding: 5px;
  font-size: 11pt;
  margin: 0 4px;
}

.portfolio .wrap .detail div a:hover{
  
  color: #02fb90;
}
.portfolio .wrap .detail p{
    text-align: left;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 2;
}
ul.portfolio1 li div{
display:none;
}
.portfolio .wrap .detail figure {
  padding-right: 0px;

}
#portfolio2 .wrap .detail figure{
  padding-bottom:23px;
  
}
.portfolio .wrap .detail div:nth-child(1){
  
  grid-row: 1;
  grid-column: 2;
}
#portfolio2 .wrap .detail div:nth-child(2){
  
  grid-row: 1;
  grid-column: 2;
  padding-bottom: 11px;

}
#portfolio2 .wrap .detail div:nth-child(2) div{
  
  justify-content: right;
}
#portfolio2 .wrap .detail div:nth-child(2) h3{
  display: none;
}
#portfolio2 .wrap .detail div:nth-child(2) p{
  display: none;
}
.portfolio .wrap .detail div:nth-child(3){
  
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
}
.portfolio .wrap .detail div:nth-child(3) a{
  color:white;
  border:1px solid;
  height: fit-content;
  border-radius: 6px;
  padding: 4px;
  font-size: 13px;
  margin-right: 18px;
}
.portfolio .wrap .detail figure img{
  transition: 1s;
}
.portfolio .wrap .detail figure img:hover{
  transform: scale(1.1); 
}
section#portfolio2 .wrap .detail4{
 
}
section#portfolio2 .wrap .detail9{
 
}
section#portfolio2 .wrap .detail1.hide{
 
}
section#portfolio2 .wrap .detail.hide{
  
}
section#portfolio2 .wrap .detail.detailShow{
 
}
section#portfolio2 .wrap .list a{
  
}

section#portfolio2 .wrap .left{
  
}

section#portfolio2 .wrap>div>.left>h2{

}

.portfolio .detail{
  
  display: flex;
  overflow: hidden;
  padding: 10px;
}

#portfolio2 .detail{
  flex-direction: column;
  overflow: hidden;
}
section#portfolio2 .detail::before{
 
}
section#portfolio2 .detail:hover::before{
  
}


section#portfolio2 .wrap div .left p{

}
section#portfolio2 .wrap div .left a{
 
}
section#portfolio2 .wrap div .left a:hover{
 
}
section#portfolio2 .wrap .right{
  

}

