@media screen and (max-width:386px){
  .h2{
    font-size: 8vw !important;
  }
/*  title  */
  div#title{ 
      background-image:url(../img/contact.jpg);
      background-position:bottom center;
      background-size:cover;
      background-repeat:no-repeat;
      width:100vw;
      position: relative;
      z-index: -1;
   }
  div#title .wrap .typing{
     font-size: 6.5vw; 
  }
  div#title .wrap p{
  font-size: 7vw;
   padding:2vw 0;
  }
  div#title .wrap p.today{
  font-size: 6vw;
  }
  
  section#about > .wrap h2{
    top: 37px;
    left: 34%;
    color: navy;
    margin-top: 0;
  }
  
  .header .wrap ul{
    display: none;
  }
  .ham{
    display: block;
    padding-right: 21px;
  }
  .header{
    width:90vw;
    z-index: 10;
  }
  .header .wrap{
  padding: 0 19px;
  width: 91%; 
  }
  

  
/*  skill  */
  section#skill{
    width:100%; 
    background: linear-gradient(#85c6ff,#daf1ff);
    height: 73vh;
  }
  section#skill .wrap > h2{
    font-size: 8vw !important;
  }
  section#skill .wrap #skill_icon{
  padding: 0;
  display: flex;
  flex-direction: column;
  }
  section#skill .wrap #skill_icon > div{
    width:100%
  }
  section#skill .wrap #skill_icon .boxA{
    justify-content: center;
    padding-bottom: 6vw;
  }
  section#skill .wrap #skill_icon .boxB{
    justify-content: center;
    display: flex;
  }
  section#skill .wrap .boxB article{
    padding:0;
  }
  section#skill .wrap #detail p.top{
    
  font-size: 4.1vw;
  }
  section#skill .wrap figure img{
  width: 9vw;
  padding: 0 1.1vw;
  }
  section#skill .wrap h3{
    padding-bottom:3vw;
  }
  section#skill .wrap #detail{
    padding-top:8vw;
  }
  section#skill .wrap #detail em{
    padding-bottom:2vw;
  }
  section#skill .wrap #detail > div{
    
  display: flex;
  flex-direction: column;
  }
  section#skill .wrap #detail p.SKd{
    width:100%;
    font-size: 3.5vw;
  }
/*  portfolio  */
  #mportfolio .wrap ul li div h3{
  font-size: 5vw;
  }
  #mportfolio .wrap ul li div p{
  font-size: 4vw;
    }
  #mportfolio .wrap ul li div:nth-child(3){
    padding-right:5vw;
  }
  #mportfolio .wrap ul li div a{
    
  font-size: 3.3vw;
  padding: 1.3vw;
  }
  /* contact  */
  section#contact{
    width:100%; 
    background-color: #daf1ff;
    height: 100vh;
    background-image: url(../img/title3.jpg);
    background-size: cover;
    background-position: -199vw;
  }
  section#contact > .wrap{
    width:85%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  section#contact .about_left{
  display: flex;
  justify-content: center;
  width: 100%;
  }
  .contact_right figure img{
      width: 30vw;
}
  section#contact .about_left article img{
  width: 70vw;
  }
  section#about .about{
    
  font-size: 3.3vw;
  padding: 1.3vw;
  position: static;
  }
  section#contact .about{
    display: flex;
    flex-direction: column;
  }
  section .wrap > h2{
    padding-top:10vw;
  }
  section#contact .about::before{
  display: none;
  }
  section#contact .about_left article{
  display: none;
  }
  .about_right{
  
  padding-top: 8vw;
  }
  section#contact .about_right p.bigger{
    font-size: 5vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .text_navy{
    color:navy;
  }
  section#contact .about_right p{
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  footer{
    background: #111a38;
    padding-top: 7vw;
    height: 10vh;
  }
  footer p{
    color:white;
    font-size:3.5vw;
  }
} 
