@media screen and (max-width:1024px){
   /*  header  */
     .header .wrap ul li{ 
     padding-left: 28px;
     }
  .header .wrap ul.click li{
    
  }
  .header .wrap ul.click li a{
    
  text-align: right;
  line-height: 2;
  font-size: 22pt;
  }
     .header .wrap{
       width:94%;
       padding-left: 20px;
     }
     .header .wrap ul a{
       font-size: 3vw;
     }
     /*  title  */
     div#title{
     background-position: center;
     }  
   
     div#title .wrap>div{
   
     }
   
     div#title .wrap p.today{
       font-size: 3vw;
     }
     
     div#title .wrap h2{   
     font-size: 35px;
     }
     div#title .wrap p{
     font-size: 35px;
     }
     div#title .wrap .typing{
     height: initial;
     }
     div#title .wrap .wave{
     height: initial;
     }
   /*  about  */
     section#about{
     height: 700px;
     margin-top: -33px;
     padding-top: 103px;
     }
     
     section#about .wrap{
       
     }
     /* skill */
   
   
     section#skill .wrap > h2{
       font-size: 4vw !important;
       padding: 0;
       padding-bottom: 35px;
       padding-top: 50px;
     }
     .h2{
       font-size: 4vw !important;
     }
     section#skill .wrap h3{
       font-size: 3vw;
     }
     section#about .about_right h3{
       font-size: 3vw;
     }
   
     section#about .about_right p{
       font-size: 2vw;
     }
     section#about .about{
       
     }
     section#about .about::before{ 
     width: 72vw;
     height: 56vw;
     position: absolute;
     left: -3%;
     top: -3%;
       
     }
     section .wrap > h2{
       
     }
     
     section .wrap .animation_about.show{
     padding-top: 6vw;
     margin-top: 0 !important;
     }
     
     section#about .about_left article img{
       
     }
     
   /*  skill  */
     section#skill{
  
     }
  section#skill .wrap{
    
  padding-top: 12vw;
  }
     
     section#skill .wrap figure img{  
     width: 5vw;
     }
     section#skill .wrap #detail em{
       width:83vw;
       font-size: 3vw;
     }
     section#skill .wrap #detail p.top{
       width:83vw;
       font-size: 1.5vw;
     }
  section#skill .wrap #detail p.under{
    
  font-size: 1.5vw;
  }
     section#skill .wrap #detail > div{
       
     width: 83vw;
     gap: 15vw;
     }
     
     section#skill .wrap #detail p.SKd{
       
     font-size: 15px;
     width: 180px;
     }
   /*  portfolio  */
  #portfolio1{
    
  height: 77vh;
  min-height: 77vh;
  padding-top: 106px;
  }
  #portfolio1 .wrap ul{
    
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  }
  #portfolio2 .wrap ul{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 67%;
  }
  #portfolio2 h2{
    
  padding-top: 0px;
  }
  #portfolio1 .wrap ul li{
    
  padding: 4px;
  }
  #portfolio1 ul.pf>li:hover>div{
    display: none;
  }
  #portfolio1 div ul li figure a img{
    
  width: 17vw;
  }
    #portfolio2 .wrap ul li{
    
  }
  #portfolio2 div ul li:hover>div{
    display: none; 
  }
    
   section#portfolio{
     min-height: 100vh;
     height: 100vh;
     }
     

     #hi{
       width:1024px;
       height: 73vh;
     }

  #portfolio2{ 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  }
     #portfolio .wrap .detail figure{
     }
     #portfolio .wrap .detail{
       width:85vw;
       display: flex;
     }
     
     #portfolio3 .wrap .detail p{
       font-size: 10pt;
     }
     #portfolio2 .wrap{
  padding-bottom: 0px;
     }
     
    
   
     #portfolio .wrap .detail div:nth-child(2){
       padding:0;
       padding-top:20px;
     }
   
     #portfolio .wrap{
       margin: 0;
     }
   #portfolio4 .wrap{
    padding:0;
     height: 69vh;
   }
   #portfolio5 .wrap{
     padding:0;
     height: 68vh;
   }
   #portfolio7 .wrap{
     padding:0;
     height: 68vh;
   }
     section#portfolio .wrap{
       
     display: flex;
     flex-direction: column;
     }
     section#portfolio .wrap #portfolio_top{
       
     display: flex;
     flex-direction: column;
     justify-content: end;
     }
     section#portfolio .wrap #portfolio_top h2{
     transform: initial;
     }
     
     section#portfolio .wrap #portfolio_top p{ 
     }
   
     section#portfolio .wrap #portfolio_bottom{
     display: flex;
     justify-content: center;
     }
     section#portfolio .wrap .detail{
     display: flex;
     align-items: center;
     }
 
     #portfolio .wrap .detail p{
       font-size:1.5vw;
     }
     section#about > .wrap{
     width: 100%;
     }
     section#about .about_left{
     margin-right: 4vw;
     }
     section#about .about_left article img{
     width: 32vw;
     }
     /* contact */
     section#contact{
       padding-top: 92px;
     }
     section#contact h3{
       font-size: 5vw;
     }
     #contact .wrap .contact_left{
       
     padding: 0;
     width: 34vw;
     }
   
     .img img{
       width: 30vw;
     }
     section#contact p{
       
     font-size: 2vw;
     }
   }
   