@media screen and (max-width:1024px){
  .wrap{
    width:100%;
    padding:0 30px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .ham{
  display: flex;
  height: 20px;
  }
  header .wrap::before{
  top: 80px;
  }
  header .wrap ul li a::before{
  top: -16px;
  }
  header .wrap ul li:nth-child(1) a::before {
  right: -32px;
  }
  header .wrap a.logo h1{
  margin-top: 24px;
  }
  header .wrap ul{
  margin-top: 36px;
  display: none;
  }
  header .wrap ul.show{
    display: flex;  
  }
  
  #title{
  background-position-y: -86%;
  }
  #title .wrap .ttd{
    
  margin-top: -421px;
  }
  #about .wrap > div{
  width: 79%;
  }
  #about .wrap > div img{
  height: 24vw;
  width: 32vw;
  }
  #about .wrap > div p{
  line-height: 40px;
  }
  
  #portfolio1 .wrap ul.pf li{
  width: 77%;
  }
  #portfolio1 .wrap ul.pf li div a{
  bottom: 0;
  }
  #portfolio1 .wrap ul.pf2 li{
  width: 77%;
  }
  #portfolio1 .wrap ul.pf2 li div a{
  bottom: 0;   
  width: 63px;
  text-align: center;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(1){
  right: 419px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(2){
  right: 332px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(3){
  right: 245px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(4) {
    right: 158px;
  }
  #portfolio1 .wrap ul.pf2>li:nth-child(4)>div>a:nth-child(3){
  left: 695px;
  }
  #portfolio1 .wrap ul.pf2>li:nth-child(4)>div>a:nth-child(4){
  right: 157px;
  }
}