@media screen and (max-width:768px){

 .ham::after{
  height: 13px;
  width: 20px;
  }
  #title{
  background-position-y: -152%;
  }
  #title .wrap{
    
  padding-top: 194px;
  }
  header .wrap a.logo{
  }
  header .wrap ul{
  margin-left: 42px;
  }
  
  header .wrap ul li:nth-child(1) a::before{
  right: -27px;
  }
  header .wrap ul li:nth-child(2) a::before{
  right: -40px;
  }
  header .wrap ul li:nth-child(3) a::before{
  right: -8px;
  }
  header .wrap ul li:nth-child(4) a::before{
  right: -13px;
  }
  #title .wrap .today{
    
  font-size: 11vw;
  }
  
  #about .wrap h2{
  padding-top: 28px;
  }
  #about .wrap > div{
  flex-direction: column;
  align-items: center;
  width: 100%;
  }
  #about .wrap > div p{
    margin: 30px 30px 0;
    margin-top: 33px;
  }
  #about .wrap > div img{
  width: 54vw;
  height: 34vw;
  }
  .skill_icon article ul{
    display: none;
  }
  #portfolio1 .wrap h2{
    padding-top: 0px;
  }
  #portfolio1 .wrap ul.ullist{
    display: none;
  }
  #portfolio1 .wrap ul li.respon .list2{
    
  width: 73%;
  margin-left: 19px;
  }
  #portfolio1 .wrap ul.pf{
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  }
  #portfolio1 .wrap ul.pf2 {
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  display: flex;
  }
  #portfolio1 .wrap ul.pf li{
  width: fit-content;
  margin: unset;
  display: block !important;
  }
  #portfolio1 .wrap ul.pf2 li{
  width: 26%;
  margin: unset;
  display: block !important;
  }
  #portfolio1 .wrap ul.pf li div{
  display: none;
  }
  #portfolio1 .wrap ul.pf2 li div{
    display: none;
  }
  #portfolio1 .wrap ul.pf li div a{
  bottom: 608px;
  }
  #portfolio1 .wrap ul.pf li div h3{
  padding-bottom: 16px;
  }
  
  #portfolio1 .wrap ul.pf2 li div{
  padding-left: 56px;
  width: 46%;
  margin-top: -24px;
  }
  #portfolio1 .wrap ul.pf2 li div h3{
  padding-bottom: 16px;
  }
  #portfolio1 .wrap ul.pf2 li div a{
    
  bottom: 605px;
  }
  #portfolio1 .wrap ul.pf li figure{
      width: fit-content;
  }
  #portfolio1 .wrap ul.pf2 li figure{
  display: flex;
  width: fit-content;
  }

  #portfolio1 .wrap ul.pf2 li figure a img{
  width: 250px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(1){
  right: 281px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(2){
  right: 192px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(3){
  right:104px;
  }
  #portfolio1 .wrap ul.pf2 li div a:nth-child(4){
  right: 15px;
  } 
  #portfolio1 .wrap ul.pf2 li:nth-child(5) div a{
   font-size: 14px;
   width: 52px;
  }
  #portfolio1 .wrap ul.pf2 li:nth-child(5) div a:nth-child(1){
  right: 328px;
  }
  #portfolio1 .wrap ul.pf2 li:nth-child(5) div a:nth-child(2){
  right:250px;
  }
  #portfolio1 .wrap ul.pf2 li:nth-child(5) div a:nth-child(3){
  right: 172px;
  }
  #portfolio1 .wrap ul.pf2 li:nth-child(5) div a:nth-child(4){
  right: 93px;
  } 
  #portfolio1 .wrap ul.pf2 li:nth-child(5) div a:nth-child(5){
  right: 15px; 
  }
  #portfolio1 .wrap ul.pf{
    
  gap: 10px;
  }
  #portfolio1 div ul.pf li figure a img{
  width: 20vw;
  }
  
  #contact .wrap .about{
  flex-direction: column;
  }
  #contact .wrap .about .info{
  padding-left: 0;
  margin-top: 11px;
  }
  #contact .wrap{
    padding-top: 0px;
    margin-top: -81px;
}
  #contact .wrap .about .img .img_right figure img{
  width: 30vw;
  }
}