@media screen and (max-width:768px){
   .wrap {
     padding-right:30px;
     padding-left: 30px;
     max-width: 708px;
   }
   .header .wrap{
     padding:0px 30px;
     width:100%;
   }
 
   .header .wrap ul{
     padding-right:30px
   }
 /*  about  */
   section#about{
   height: 87vh;
   min-height: 87vh;
   padding-top: 0;
   }
   section#about .about{
   flex-direction: column;
   text-align: center;
   margin-top: -57px;
   justify-content: center;
   align-items: center;
   }
   div#title{
     ;
   }
   section#about > .wrap{
 padding-top: 42px;
 }
   section#about .about_left{  
   margin-right: 0;
   }
   section#about .about_left article img{
   width: 53.3vw;
   padding: 0;
   }
 /*  skill  */
   section#skill{
    padding-top: 0px;
   }
   section#skill .wrap{
     padding-top: 0;
   }
   section#skill .wrap #detail > div{
     
   gap: 5vw;
   }
 /*  portfolio  */
   
   section#skill .wrap .skill .skill_right{
   flex-direction: column;
   }
   section#skill .wrap .skill .skill_right .boxA{
   margin-right: 0;
   margin-bottom: 30px;
   }

 
  #portfolio2{
    
  padding-top: 0;
  }
  #portfolio1{
    
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  #portfolio1 h2{
    
  padding-bottom: 5vw;
  padding-top: 12vw;
  }
  section#skill .wrap > h2{
    
  padding-top: 15vw;
  }
   .portfolio .wrap .detail figure{
     padding: 0;
   }
   .portfolio .wrap .detail div:nth-child(2){
   }
   .portfolio .wrap .detail div:nth-child(2)>div{
     width: fit-content;
   }
   #hi{
     display: none;
   }
 
   #mportfolio{
     /*! display: block !important; */
     background-color: white;
     height: 204vh;
     background: linear-gradient(#daf1ff,white);
   }
   #mportfolio .wrap h2{
     font-size: 5vw;
     color: navy;
     padding-top: 0;
     text-transform: uppercase;
     font-weight: 500;
     text-align: center;
     padding-top: 50px;
     padding-bottom: 30px;
   }
   #mportfolio .wrap ul{
 }
   .portfolio .wrap .detail figure img{
     width:30vww;
   }
 #mportfolio .wrap ul li{
   padding-bottom: 45px;
 }
 
 #mportfolio .wrap ul li figure{
   display: flex;
     justify-content: center;
 }
 
 #mportfolio .wrap ul li figure a{
 }
   #mportfolio .wrap ul li figure a img{
 width: 80vw;    
   }
   .asty img, .hitejinro img{
     border: 1px solid #eee;
   }
  .portfolio .wrap ul li{
    
  width: 165px;
  height: fit-content;
  }
 #mportfolio .wrap ul li div:nth-child(2){
 padding-bottom: 1vw;
 text-align: right;
 padding-right: 6vw;
 padding-top: 2vw;
   }
 
 #mportfolio .wrap ul li div h3{
   line-height: 1.5;
   color: #5f53f2;
   font-size: 2.5vw;
 }
 
 #mportfolio .wrap ul li div p{
 font-size: 2vw;
 line-height: 1.4;
 color: navy;
   }
   #mportfolio .wrap ul li div:nth-child(3){
 justify-content: right;
 padding-right: 42px;
   }
 #mportfolio .wrap ul li div a{
   text-align: right;
   color: #828ff7;
   border: 1px solid;
   padding:2.5px;
   border-radius: 3px;
   margin-left: 1vw;
   font-size: 1.7vw;
   }
   .portfolio .wrap .detail div a{
     width: 7.2vw;
   }
   
  
   section .wrap > h2{
     padding:0; 
     font-size: 5vw;
     text-transform: uppercase;
     text-align: center;
     padding-top: 10vw;
   }
   
   #portfolio3 .wrap{
     padding-top: 628px;
   }
    #portfolio4 .wrap{
     padding-top: 480px !important;
   }
   #portfolio5 .wrap{
     padding-top: 526px !important;
   }
   #portfolio7 .wrap{
     padding-top: 458px !important;
   }
 
   /* contact */
   section#contact{
     width: 100%;
     padding-top: 0;
   } 
   section#contact p{
     
   font-size: 4vw;
   }
   section#contact figure{
     width:64vw;
     padding-left: 54px;
   }
   #contact .wrap .contact_left{
     padding-right: 3vw;
     padding-left: 25vw;
   }
   #contact .wrap .contact_right{
     width: 34vw;
   }
   section#contact p{
     font-size: 2.5vw;
     text-align: center;
     line-height: 2;
   }
   section#contact h3{
     font-size: 5vw;
     padding-bottom: 55px;
   }
   .img img{
     width: 30vw;
   }
   footer p{
     font-size: 2vw;
   }
  #portfolio1 .wrap ul{
    
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  }
  #portfolio2 .wrap ul{
    
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  }
  #portfolio2 .detail{
    
  width: 211px;
  }
  #portfolio2 h2{
    
  padding-top: 0px;
  padding-bottom: 13vw;
  }
  #portfolio2 .wrap{
    
  padding-bottom: 68vw;
  }
   section#contact .wrap{
     padding-top: 100px;
   }
 }