@media screen and (max-width:580px){

  header .wrap ul{
    display: none;
  }
  
  header .wrap ul.show{
    display: inherit; 
    width: 100%;
    height: 100%;
  }
  header .wrap a.logo{
  margin-top: 5px;
  transform: scale(84%);
  }
  .ham{
    display: flex;
    width: 28px;
    height: 18px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: absolute;
    right: 37px;
    top: 31px;
  }
  
  .ham::after{
  height: 8px;
  width: 20px;
  border-top: 3px solid black;
  }
  header .wrap a.logo h1{
  width: 12vw;
  margin-top: 8px;
}

  header .wrap::before{
  top: 64px;
  }
  header .wrap ul li a{
  font-size: 19px;
  position: absolute;
  top: -2px;
  }
  header .wrap ul li:nth-child(1) a{
  right: 81px;
  }
  header .wrap ul li:nth-child(2) a{
  right: 121px;
  }
  header .wrap ul li:nth-child(3) a{
  right: 119px;
  }
  header .wrap ul li:nth-child(4) a{
  right: 150px;
  }
  header .wrap ul li a::before{
  top: -18px;
  transform: scale(0.8);
  } 
  header .wrap ul li:nth-child(1) a::before{
  right: -40px;
  }
  header .wrap ul li:nth-child(2) a::before{
  right: -52px;
  }
  header .wrap ul li:nth-child(3) a::before{
  right: -22px;
  }
  header .wrap ul li:nth-child(4) a::before{
  right: -30px;
  }
  
  #title{
  background-size: contain;
  background-position-y: 42%;
  }
  #title .wrap{
    
  }
  #title .wrap .ttd{
  margin-top: -718px;
  }

  .icons{
    transform: scale(90%)
  }
}