@media screen and (max-width:1024px){
/*  header  */
  .header .wrap ul li{ 
  padding-left: 75px;
  }
  
  /*  title  */
  div#title{
  background-position: center;
  } 
  div#title .wrap{
  }
  div#title .wrap>div{

  }
  div#title .wrap p.today{
    font-size: 3vw;
  }
  
  div#title .wrap h2{   
  font-size: 35px;
  }
  div#title .wrap p{
  font-size: 35px;
  }
  div#title .wrap .typing{
  height: initial;
  }
  div#title .wrap .wave{
  height: initial;
  }
/*  about  */
  section#about{
  height: 700px;
  margin-top: -33px;
  padding-top: 103px;
  }
  
  section#about .wrap{
    
  }
  section#skill .wrap > h2{
    font-size: 8vw !important;
  }
  .h2{
    font-size: 5vw !important;
  }
  section#skill .wrap h3{
    font-size: 4vw;
  }
  section#about .about_right h3{
    font-size: 3vw;
  }
  section .wrap .animation_about.show ul li{
  }
  section#about .about_right p{
    font-size: 2vw;
  }
  section#about .about{
    
  }
  section#about .about::before{ 
  width: 72vw;
  height: 56vw;
  position: absolute;
  left: -3%;
  top: -3%;
    
  }
  section .wrap > h2{
    
  padding-top: 100px;
  }
  
  section .wrap .animation_about.show{
  padding-top: 6vw;
  }
  
  section#about .about_left article img{
    
  }
  
/*  skill  */
  section#skill{
    height: 90vh;
  }
  
  section#skill .wrap figure img{  
  width: 5vw;
  }
  section#skill .wrap #detail em{
    width:83vw;
    font-size: 4vw;
  }
  section#skill .wrap #detail p.top{
    width:83vw;
    font-size: 2.5vw;
  }
  section#skill .wrap #detail > div{
    
  width: 83vw;
  gap: 15vw;
  }
  
  section#skill .wrap #detail p.SKd{
    
  font-size: 15px;
  width: 180px;
  }
/*  portfolio  */
  #hi{
    width:1024px;
  }
  .portfolio{
  height: 103vh !important;
  }
  .portfolio .wrap .detail figure{
    width: 60vw;
  }
  .portfolio .wrap .detail{
    width:85vw;
    display: flex;
    flex-direction: column;
    /*! padding-top: 65px; */
  }
  
  #portfolio3 .wrap .detail p{
    font-size: 10pt;
  }
  #portfolio2 .wrap{
    margin-top: -656px !important;
  }
  
 
#portfolio2 .wrap ul:nth-child(3)>li{
    display: flex;
    flex-direction: column;
  }
  .portfolio .wrap .detail div:nth-child(2){
    padding:0;
    padding-top:20px;
  }
  section#portfolio{
  min-height: 900px;
  height: 100vh;
  }
  
  .portfolio .wrap{
    padding: 0;
    margin: 0;
    margin-top: -372px !important;
    padding-top: 229px;
  }
#portfolio4 .wrap{
  padding:0;
  padding-top: 113px
}
#portfolio5 .wrap{
  padding:0;
  padding-top: 174px
}
#portfolio7 .wrap{
  padding:0;
  padding-top: 81px
}
  section#portfolio .wrap{
    
  display: flex;
  flex-direction: column;
  }
  section#portfolio .wrap .portfolio_top{
    
  display: flex;
  flex-direction: column;
  justify-content: end;
  }
  section#portfolio .wrap .portfolio_top h2{
  transform: initial;
  }
  
  section#portfolio .wrap .portfolio_top p{ 
  }

  section#portfolio .wrap .portfolio_bottom{
  display: flex;
  justify-content: center;
  }
  section#portfolio .wrap .detail{
  display: flex;
  align-items: center;
  }
  .portfolio .wrap .detail p{
    font-size:1.5vw;
  }
  section#about > .wrap{
  width: 100%;
  }
  section#about .about_left{
  margin-right: 4vw;
  }
  section#about .about_left article img{
  width: 32vw;
  }
  #contact .wrap .contact_left{
    
  padding: 0;
  width: 60vw;
  }
  section#contact p{
    
  font-size: 2vw;
  }
}
@media screen and (max-width:768px){
  .header .wrap a.logo{
  }
/*  about  */
  section#about{
  height: 100vh;
  }
  section#about .about{
  flex-direction: column;
  text-align: center;
  margin-top: -57px;
  justify-content: center;
  align-items: center;
  }
  div#title{
    height: 85vh !important;;
  }
  section#about > .wrap{
padding-top: 42px;
}
  section#about .about_left{  
  margin-right: 0;
  }
  section#about .about_left article img{
  width: 53.3vw;
  padding: 0;
  }
/*  skill  */
  section#skill{
    
  height: 73vh;
  }
  section#skill .wrap{
    
  }
  section#skill .wrap #detail > div{
    
  gap: 5vw;
  }
/*  portfolio  */
  section#portfolio{
  height: 97vh;
  min-height: 826px;
  }
  section#skill .wrap .skill .skill_right{
  flex-direction: column;
  }
  section#skill .wrap .skill .skill_right .boxA{
  margin-right: 0;
  margin-bottom: 30px;
  }
/*  portfolio  */
  .portfolio{
  height: 80vh !important;
  }
 
 
  section#portfolio2 .wrap{
 padding-top: 600px !important;
  }
  #portfolio3 .wrap{
    padding-top: 628px;
  }
   #portfolio4 .wrap{
    padding-top: 480px !important;
  }
  #portfolio5 .wrap{
    padding-top: 526px !important;
  }
  #portfolio7 .wrap{
    padding-top: 458px !important;
  }
  section#contact{
height: 90vh;
    width: 100%;
  } 
  section#contact p{
    
  font-size: 4vw;
  }
  section#contact figure{
    width:40vw;
    padding-left: 54px;
  }
  #contact .wrap .contact_left{
    margin-right: -168px;
  }
  #contact .wrap .contact_right{
    padding-right: 23px !important;
  }
  section#contact p{
    font-size: 3.5vw;
    text-align: center;
    line-height: 2;
  }
  section#contact h3{
    font-size: 5vw;
    padding-bottom: 55px;
  }
  section#contact figure img{
    width: 35vw;
  }
}
@media screen and (max-width:384px){

  .wrap{    
  padding: 0 30px !important;
  box-sizing: border-box;
  }
  .vh100{
    height: 70vh;
    box-sizing: border-box;
    min-height: 600px;
  }
/*  헤더   */
  .header{
  margin: 0;
  z-index: 2;
  }
  .header.blackBG{
    background-color:black;
    position: fixed;
    z-index: 10;
  }
  .header .wrap{
  margin: 0;
  position: relative;
  width: 100%;
  min-height: initial;
  z-index: 2;
  }
  .header .wrap a.logo{
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  }
  .ham{
  display: flex;
  }
  .ham::after{
    
  }
  .header .wrap ul{
  background-color: #0c5091;
  width: 100%;
  height: 252px;
  padding: 0;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 56px;
  display: inline-block;
  text-align: right;
  padding-right: 15px;
  width: 40%;
  padding-left: 20px;
  z-index: 1;
  display: none;
  }
  .header .wrap ul.click{
    display: inline-block !important;
  }
  
  .header .wrap ul li{
  padding: 0;
  padding-top: 10px;
  }
  .header .wrap ul li a{
  line-height: 2;
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: block;
  }
/*  타이틀  */
  div#title{
  background-position: center;
  animation: none;
  height: 58vh;
  width: 100vw;
  background-position-y: 56px;
  }
  div#title .wrap h2{
  font-size: 6vw;
  line-height: 2;
  color: navy;
  animation-delay: 0s;
  }
  .typing_effect2{
 animation-delay:0.5s !important;; 
}
.typing_effect3{
 animation-delay:1s !important;;
}
.typing_effect4{
 animation-delay:1.5s !important;; 
}
.typing_effect5{
 animation-delay:2s !important;; 
}
.typing_effect6{
 animation-delay:2.5s !important;; 
}
    
  div#title .wrap p{
  font-size: 6vw;
  color: navy;
  padding-bottom: 4vw;
  }
  .wave_effect4{
    line-height: 1;
    padding-top: 11px;
  }
  div#title .wrap .typing{
    
  margin-bottom: 1vw;
  }
  div#title .wrap p.today{
    
  color: navy;
  font-size: 6vw;
  animation-delay: 2.7s;
  }
  div#title .wrap .wave{
  padding: 0;
  }
  div#title .wrap .wave div{
    
  padding-bottom: 34vw;
  }
  .wave_effect1{
    
  grid-column: 2;
  }
  .wave_effect2{
    
  }
  .wave_effect3{
    
  }
  .wave_effect4{
  grid-column: 1 / span 4;
  }  
  div#title .wrap p .textC{
    display: block;
  }
/* about   */
  section#about{
  height: 80vh;
  padding: 0;
  }
  
  section#about > .wrap{
  width: 100%;
  }
  section#about .about{
  margin-top: 0;
  flex-direction: column;
  }
  section#about .wrap > h2{
  margin-top: 0;
  flex-direction: column;
  font-size: 35px;
  margin-bottom: -69px;
  }
  section#about .about{
    margin:0;
  }
  section#about .about_left{
  margin-right: 0;
  }
  section#about .about_left article img{
  width: 300px;
  }
  section#about .about_left p{
    
  font-size: 13px;
  }
  section .wrap .animation_about.show>div>ul>li{
    
  font-size: 8vw !important;
  }

  section#about .about_right{
  text-align: center;
  }
  section#about .about_right>ul>li{
    
  font-size: 5vw;
  }
  section#about .about_right h3{
  font-size: 22px;
  color: powderblue;
  }
  section#about .about_right p{
    
  font-size: 13px;
  }
/* skill   */
  section#skill{
    height: 76vh;
  }
  section#skill .wrap{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  section#skill .wrap .skill{
  flex-direction: column;
  }
  section#skill .wrap > h2{
    
  width: 100%;
  gap: 0;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 3vh;
  font-size: 10vw;
  }
  section#skill .wrap #skill_icon > div{
    
  width: 100%;
  }
  section#skill .wrap #skill_icon{
    padding:0;
    flex-direction: column;
    width: 100%;
  }
  section#skill .wrap .boxA article{
    padding:0;
  }
  section#skill .wrap .boxB article{
    padding:0;
  }
  section#skill .wrap #detail > div{
    
  width: 100%;
  gap: 0;
  flex-wrap: wrap;
  }
  section#skill .wrap .skill .skill_left{
  width: 100%;
  }
  section#skill .wrap .skill .skill_left > h2{
    display: none;
  }
  section#skill .wrap .skill .skill_left p{
  margin-top: 15px;
  font-size: 13px;
  }
  
  section#skill .wrap .skill .skill_right{
  flex-direction: column;
  width: 100%;
  align-items: center;
  }
  
  section#skill .wrap .skill .skill_right>div{
  margin-right: 0 !important;
  }
  section#skill .wrap .skill .skill_right article{
    
  width: 260px;
  height: 260px;
  }
  section#skill .wrap .skill .skill_right .boxA{
  margin-bottom: 25px;
  }
  section#skill .wrap .skill h3{
    
  font-size: 22px;
  color: #656565;
  }
  section#skill .wrap .skill .skill_right article img{
  width: 50px;
  }
  
  section#skill .wrap .skill .skill_right article > div p{  
  font-size: 14px;
  }
  section#skill .wrap .skill .skill_right .boxA article > div p em{
    
  font-size: 19px;
  }
/*  portfolio  */
   section#portfolio{
  height: 1609px;
  }
    section#portfolio2 .wrap > h2{
    
  padding: 0;
  padding-bottom: 4vw;
  font-size: 8vw !important;
  position: absolute;
  top: 59px;
  }
  section#portfolio .wrap{
  flex-direction: column;
  height: initial;
  padding-top: 50px;
  }
  section#portfolio .wrap .portfolio_top{
    
  flex-direction: column;
  display: flex;
  text-align: left;
  margin-top: -5px;
  padding-top: 62px;
  justify-content: center;
  }
  section#portfolio .wrap h2{
  transform: none;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  }
  section#portfolio .wrap p{
  color: white;
  }
  section#portfolio .wrap .portfolio_top p{
    
  text-align: right;
  font-size: 15px;
  position: static;
  display: flex;
  justify-content: end;
  }
  section#skill .wrap #skill_icon .boxA{
    
  justify-content: left;
  }
  section#skill .wrap h3{
    
  padding-bottom: 1vh;
  font-size: 5vw;
  }
  section#skill .wrap article>div{
    
  padding-bottom: 2vh;
  }
  section#skill .wrap figure img{
    
  width: 11vw;
  }
/*  portfolio  */
   
  #hi{
 display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .portfolio{
    height: 30vh !important;
    min-height: initial;
    background: #79afe0;
  }
  .portfolio .wrap{
    margin-right: 110px;
  }
  #portfolio2
{
  height: 65vh !important;
  }
  section#portfolio2 .wrap{
    padding-top: 0px !important;
    margin: 0 !important;
    margin-right: 120px !important;
  }
  #portfolio3 .wrap{
    padding-top: 0px;
  }
   #portfolio4 .wrap{
    padding-top: 0px !important;
  }
  #portfolio5 .wrap{
    padding-top: 0px !important;
  }
  #portfolio7 .wrap{
    padding-top: 0px !important;
  }
  
  .portfolio .wrap .detail p{
    display: none;
  }
  #portfolio2 .wrap .detail figure img{
    padding-bottom: 100px;
    width: 60vw;
  }
  
  section#portfolio .wrap .portfolio_top h2{
  text-align: center;
  }
  
  section#portfolio .wrap .detail{
    align-items: center;
    width: 100%;
  }
  section#portfolio .wrap .left{
  padding-top: 30px;
  text-align: right;
  position: relative;
  width: 283px;
  }
  section#portfolio .wrap .detail9{
    
  }
  section#portfolio .wrap div .left div{
  justify-content: end;
  }
  section#portfolio .wrap .detail9 .left div{
justify-content:space-between;
}
section#portfolio .wrap .detail12 .left div{
justify-content:space-between;
}
  section#portfolio .wrap div .left a{
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  }
  
  section#portfolio2 .wrap .detail figure{
  
  width: 70vw;
  padding-bottom: 59px;
}
section#portfolio2 .wrap .detail{
  
  display: flex;
  flex-direction: column;
}
section#portfolio2 .wrap .detail div:nth-child(2){
  
  padding: 0;
}
section#portfolio2 .wrap .detail h2{
  font-size: 5vw;
  padding: 3vw 0;
  margin-top: -151px;
}
 
  footer p{
    font-size: 3vw;
  }
  .portfolio > .wrap > ul.portfolio_list{
    display: none;
  }
 
/*  contact  */
  #contact .wrap .contact_left{
    
  }
  
  section#contact{
    height: 55vh !important;
  }
  
   section#contact .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*! max-width: 100vw; */
    padding-top: 40px !important;
  }
  section#contact figure{
    width: 100%;
  }
  #contact .wrap .contact_left{
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  #contact .wrap .contact_left figure img{
    display: none;
  }
section#contact h3{
  
  padding: 0;
  font-size: 10vw;
  padding-bottom: 13vw;
}
  section#contact figure img{
    width:100%; 
    justify-content: center;
    display: flex;
  }
  #contact .wrap .contact_right figure img{
    padding:0;
    padding-top: 6vw;
    width: 60vw;
  }
  #contact .wrap .contact_right{
    width:100%;
  }
  .portfolio .wrap .detail h2{
    font-size: 5vw;
    color: white;
  }
  section#skill .wrap #detail p.top{
    font-size: 3.5vw;
  }
}