@media screen and (max-width:386px){
  .h2{
    font-size: 8vw !important;
  }
/*  title  */
  div#title{ 
      background-image:url(../img/contact.jpg);
      background-position:bottom center;
      background-size:cover;
      background-repeat:no-repeat;
      width:100vw;
      position: relative;
      z-index: -1;
      min-height: 85vh;
   }
  div#title .wrap .typing{
     font-size: 6.5vw; 
  }
  div#title .wrap p{
  font-size: 7vw;
   padding:2vw 0;
  }
  div#title .wrap p.today{
  font-size: 6vw;
  }
  
  section#about > .wrap h2{
    top: 37px;
    left: 34%;
    color: navy;
    margin-top: 0;
  }
  
  .header .wrap ul{
    display: none;
  }
  
  .header .wrap ul.click{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 74px;
    padding-right: 10px;
    justify-content: right;
    align-items: self-end;
    background-color: rgba(0,0,255,0.5);
  }
  .ham{
    display: block;
    padding-right: 21px;
    position: absolute;
    right: 102px;
  }
  .header{
    width:90vw;
    z-index: 10;
  }
  .header .wrap{
  padding: 0 19px;
  width: 112%; 
  }
  

  
/*  skill  */
  section#skill{
    width:100%; 
    background: #85c6ff;
  }
  section#skill .wrap > h2{
    font-size: 8vw !important;
  }
  section#skill .wrap #skill_icon{
  padding: 0;
  display: flex;
  flex-direction: column;
  }
  section#skill .wrap #skill_icon > div{
    width:100%
  }
  section#skill .wrap #skill_icon .boxA{
    justify-content: center;
    padding-bottom: 6vw;
  }
  section#skill .wrap #skill_icon .boxB{
    justify-content: center;
    display: flex;
  }
  section#skill .wrap .boxB article{
    padding:0;
  }
  section#skill .wrap #detail p.top{
    
  font-size: 3.6vw;
  }
  section#skill .wrap #detail p.under{
    font-size: 3.6vw;
    width: 100%;
  }
  section#skill .wrap figure img{
  width: 10vw;
  padding-left: 3px;
  }
  section#skill .wrap{
    
  padding-top: 21vw;
  }
  
  section#skill .wrap h3{
    padding-bottom:3vw;
  }
  section#skill .wrap article:nth-child(1){
    padding-right:0;
  }
  section#skill .wrap figure{
    width: 100%;
  }
  section#skill .wrap #detail{
    padding-top:8vw;
  }
  section#skill .wrap #detail em{
    padding-bottom:2vw;
  }
  section#skill .wrap #detail > div{
    
  display: flex;
  flex-direction: column;
  }
  section#skill .wrap #detail p.SKd{
    width:100%;
    font-size: 3.5vw;
  }
  section#skill .wrap #detail p.SKd:nth-child(2){
  margin-top: -18px;
  }
  section#skill .wrap #detail p.SKd:nth-child(3){
    margin-top: -18px;
  }
/*  portfolio  */
  #portfolio1{
    
  padding-top: 78px;
  }
  #portfolio1 h2{
    
  }
  #portfolio1 .wrap{
    
  }

  #portfolio1 .wrap ul li{
    
  }
  #portfolio1 .wrap ul li figure a img{
    
  width: 34vw;
  }
  #portfolio1 .wrap div{
    
  }
  #portfolio2 .wrap ul li{
     
  }
  #portfolio2 div ul li figure a img{
    
  width: 30vw;
  }
  .pf.display{
    
  width: 100%;
  height: 100%;
  }
  
  #portfolio2 .wrap{
  }
  #portfolio2 h2{
    
  padding-top: 0px;
  }

  #portfolio2 .wrap ul{
    
  width: 85% !important;
  height: fit-content;
  }
    #portfolio1 .wrap .detail>div{
    
  width: 100% !important;
  }
  #portfolio1 .wrap .detail div a{
    
  font-size: 4vw;
  width: fit-content;
  }
  #portfolio .wrap ul li{
    
  width: 127px;
  padding: 6px;
  height: fit-content;
  }
  #portfolio1 .wrap .detail figure img{
  width: 35vw;
  }

 #portfolio2 .wrap {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  /*! margin-top: -65px; */
  /*! height: 2%; */
  }
  #portfolio2{
    
  padding-top: 99px;
  }
  #portfolio2 .wrap .detail div:nth-child(2) div{
  padding-top: 2vw;
  width: 100%;
    }
  /* contact  */
  section#contact{
    width:100%; 
    background-color: #daf1ff;
    background-image: url(../img/title3.jpg);
    background-size: cover;
    background-position-x: -89vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  section#contact > .wrap{
    width:85%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  section#contact .wrap h2{
    padding:0;
    /*! padding-bottom: 100px; */
  }
  section#contact .about_left{
  display: flex;
  justify-content: center;
  width: 100%;
  display: none;
  }
  .contact_right figure img{
      width: 30vw;
}
  section#contact .about_left article img{
  width: 70vw;
  }
  section#about .about{
    
  font-size: 3.3vw;
  padding: 1.3vw;
  position: static;
  }
  section#contact .about{
    display: flex;
    flex-direction: column;
  }
  section .wrap > h2{
    padding-top:10vw;
  }
  section#contact .about::before{
  display: none;
  }
  section#contact .about_left article{
  display: none;
  }
  .about_right{
  
  padding-top: 8vw;
  }
  section#contact .about_right p.bigger{
    font-size: 5vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  section#contact p{
    
  font-size: 3.5vw;
  background-color: rgba(0,0,255,0.5);
  }
  .text_navy{
    color:navy;
  }
  section#contact .about_right p{
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  footer{
    background: #111a38;
    padding-top: 7vw;
    height: 10vh;
  }
  footer p{
    color:white;
    font-size:3.5vw;
  }
} 
