#skill{
    background: linear-gradient(#b2cde5,#79afe0);
  position: relative;
}

#skill .wrap{
    height: 100%;
}
section .wrap::before{
    font-size:377px;
    text-align:center;
    display: flex;
    justify-content: center;
    opacity:0.3;
    color:#565656;
    position: absolute;
    left: 20px;
    /*! transform: rotate(-90deg); */
    z-index: 1;
    opacity: 0.1;
    top: 0;
    text-transform: uppercase;
}

section#skill .wrap::before{
    content:"SKILL";
}

#skill .wrap h2{
    padding-top: 128px;
    color: #333;
    padding-bottom: 50px;
}
.h2{
  text-transform: uppercase;
  text-align: center;
}
#skill .wrap .education{

  padding-bottom: 71px;
}
#skill .wrap .education h3{
  font-size: 22px;
  color: #666;
}
#skill .wrap .education p{
  font-size: 15px;
  line-height: 1.6;
  color: white;
}
#skill .wrap .skill_icon{

  display: flex;
  justify-content: space-between;
}

#skill .wrap .skill_icon>div{
  
  width: 50%;
}
#skill .wrap .skill_icon .boxA{

}
#skill .wrap .skill_icon .boxA article{

}
#skill h4{
  font-size: 28px;
  text-align: left;
  color: white;
  margin-bottom: 21px;
}
.icons{

  display: flex;
}
.skill_icon article ul{
  color: #53538c;
  display: flex;
  flex-wrap: wrap;
}
.skill_icon article ul li{
  
  width: calc(100% / 5);
  line-height: 2;
  padding-left: 16px;
}
.icons figure{

}
.icons figure img{
  width: 63px;
  border-radius:18px;
  padding: 0 10px;
}
#skill .wrap .skill_icon .boxB{

}
#skill .wrap .skill_icon .boxB article{

}
#skill .wrap .skill_icon .boxB article h4{

}